@for (service of services; track service.title; let i = $index) {
<section class="min-h-screen section-padding p-8" [class.bg-slate-50]="i % 2 !== 0" [class.bg-white]="i % 2 === 0">
    <div class="container-custom">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center" [class.lg:flex-row-reverse]="i % 2 !== 0">
            <div>
                <div class="flex gap-4 items-center">
                    <div class="w-16 h-16 bg-sky-100 primary-blue rounded-2xl flex items-center justify-center mb-8">
                        <mat-icon class="scale-125">{{ service.icon }}</mat-icon>
                    </div>
                    <h2 class="text-3xl md:text-4xl font-bold text-slate-900 mb-6">{{ service.title }}</h2>
                </div>
                <p class="text-slate-600 mb-8 leading-relaxed text-lg">{{ service.description }}</p>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
                    @for (feature of service.features; track feature.title) {
                    <div class="flex gap-4">
                        <div class="flex-shrink-0 w-6 h-6 bg-green-100 text-green-600 rounded-full flex items-center justify-center mt-1">
                            <mat-icon class="scale-50">check</mat-icon>
                        </div>
                        <div>
                            <h4 class="font-bold text-slate-900 text-sm mb-1">{{ feature.title }}</h4>
                            <p class="text-slate-500 text-xs leading-relaxed">{{ feature.desc }}</p>
                        </div>
                    </div>
                    }
                </div>
                @if (service.callToAction) {
                <div class="mt-6 text-left bg-slate-50 p-6 rounded-3xl shadow-lg">

                    <h3 class="text-2xl md:text-2xl font-bold text-slate-900 mb-4">
                        {{ service.callToAction.heading }}
                    </h3>

                    <p class="text-slate-600 mb-6 max-w-2xl mx-auto">
                        {{ service.callToAction.description }}
                    </p>

                    <a routerLink="/contactUs" class="inline-flex items-center gap-2 px-8 py-3 primary-blue-bg text-white rounded-xl font-semibold hover:bg-indigo-700 transition-all">
                        {{ service.callToAction.buttonText }}
                        <mat-icon>arrow_forward</mat-icon>
                    </a>

                </div>
                }
                <!-- <a routerLink="/contactUs" class="inline-flex items-center gap-2 px-6 py-3 primary-blue-bg text-white rounded-xl font-semibold hover:bg-indigo-700 transition-all">
                Get Started <mat-icon>arrow_forward</mat-icon>
              </a> -->
            </div>
            <div class="w-full">
                <img [src]="service.image" [alt]="service.title" class="w-10/12 aspect-video lg:aspect-square" referrerpolicy="no-referrer">
            </div>
        </div>
    </div>
</section>
}