@for (service of services; track service.title; let i = $index) {
<section class="hero">
    <div class="hero-curves">
        <svg viewBox="0 0 1440 900" preserveAspectRatio="xMidYMid slice">
            <path d="M-100,350 Q500,80 1000,400 T1600,250" fill="none" stroke="rgba(255,255,255,0.1)"
                stroke-width="1.5" />
            <path d="M-100,550 Q600,200 1100,520 T1700,380" fill="none" stroke="rgba(255,255,255,0.06)"
                stroke-width="1.5" />
            <path d="M300,-50 Q600,300 500,650 T750,950" fill="none" stroke="rgba(255,255,255,0.05)"
                stroke-width="1.5" />
        </svg>
    </div>

    <div class="hero-card">
        <div class="flex gap-4 items-center">
            <div class="w-16 h-16 bg-sky-100 primary-blue rounded-2xl flex items-center justify-center mb-8">
                <mat-icon class="scale-125">{{ service.icon }}</mat-icon>
            </div>
            <h2 class="text-3xl md:text-4xl font-bold text-slate-900 mb-6">{{ service.title }}</h2>
        </div>
        <p class="hero-sub">"{{ service.description }}"</p>

        <div class="mb-5">
            <h3 class="text-sm font-bold text-slate-900 mb-4"> {{ service.whyChooseTitle }}</h3>
            <div class="grid  gap-6 mb-6">
                <div class="flex gap-4">
                    <div class="flex-shrink-0 w-6 h-6 bg-green-100 text-green-600 rounded-full flex items-center justify-center mt-1">
                        <mat-icon class="scale-50">check</mat-icon>
                    </div>
                    <div>
                        <p class="text-slate-500 text-sm leading-relaxed"> {{ service.closingText }}</p>
                    </div>
                </div>
            </div>
            <h3 class="text-sm font-bold text-slate-900 mb-4"> Ready to amplify your communication?</h3>

            <div class="grid  gap-6 ">
                <div class="flex gap-4">
                    <div class="flex-shrink-0 w-6 h-6 bg-green-100 text-green-600 rounded-full flex items-center justify-center mt-1">
                        <mat-icon class="scale-50">check</mat-icon>
                    </div>
                    <div>
                        <p class="text-slate-500 text-sm leading-relaxed"> {{ service.closingText2 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="hero-right">
        <div class="hero-img-frame">

            <img class="w-full" src="assets/banner/Capturevoice.png" [alt]="service.title">
            <div class="float-badge fb-green">
                <span class="fb-icon">✅</span> 99.9% Uptime
            </div>
            <div class="float-badge fb-gold">
                <span class="fb-icon">⚡</span> &lt;2s Delivery
            </div>
            <div class="float-badge fb-blue">
                <span class="fb-icon">📊</span> 92% Open Rate
            </div>
        </div>
    </div>

</section>
<section class="section-padding p-8 bg-white">
    <div class="container-custom">
        <div class="items-center">
            <div>
                <h3 class="text-3xl text-center font-bold text-slate-900 mb-6">Features Overview</h3>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-10">
                    @for (item of service.featureOverview; track item.title) {
                    <div class="fc reveal primary-blue-bg">
                        <div class="fc-num">{{ item.num }}</div>
                        <div>
                            <div class="fc-title">{{ item.title }}</div>
                            <p class="fc-desc">{{ item.desc }}</p>

                            <a routerLink="/contactUs" class="inline-flex items-center gap-2 px-4 mt-4 py-2 
                             text-white rounded-xl text-sm font-semibold border border-white transition-all">
                                Get Started Now <mat-icon>arrow_forward</mat-icon>
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section" id="cta">
    <div class="cta-inner reveal">
        <h2 class="cta-title"> {{ service.callToAction.heading }}</h2>
        <p class="cta-desc"> {{ service.callToAction.description }}</p>
        <div class="cta-btns">
            <button routerLink="/contactUs" class="btn-white">🚀 Start Free — No Card Needed</button>
        </div>
    </div>
</section>

}